
 <div>
    <%= image_tag @item.get_image(200,200) %>
    <p>商品名<%= @item.name %></p>
    <p>商品説明<%= @item.introduction %></p>
    <p>税込価格：<%= @item.add_tax_price.to_s(:dalimited) %></p>
    <p>
      個数選択
    </p>
    <p>
      カートに入れる
    </p>
  </div>
